/* Regras Gerais */
*{
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #294175 ;
    --color-secondary: #4b75cf;;
    --color-background: #414761;
}

html { font-size: 16px;}

body { 
    font-family: "Segoe UI", Arial, sans-serif; 
    background-color: var(--color-background);
}

.text-center {
    text-align: center;
}


/* Página Index */
.containerIndex {
    padding: 20px;
    margin: 120px auto;
    max-width: 1200px;
    width: 80%;
    border-radius: 12px;
    background-color: #a5aec4;
}

.containerIndex h1{ 
    color: var(--color-primary);
    font-size: 2.3rem;
}

.containerIndex h2 {
    font-size: 1.8rem;
    margin: 15px 0px;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    padding: 20px;
    font-size: 2rem;
    color: var(--color-secondary);
}

.containerIndex ul li a{
    text-decoration: none;
    transition: font-size 0.3s ease;

}

.containerIndex ul li a:hover {
    background-color: var(--color-primary);
    border-radius: 8px;
    font-size: 2.2rem;
    color: #ffffff;
}


