/* Regras Gerais */
*{
    margin: 0;
    padding: 0;
}

:root {
    --color-h1-cadastro: #09136e;
    --color-container-cadastro: #626e8b ;
    --color-p-cadastro: #338afc;
    --color-background-cadastro: #b9c3dd;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.text-center {
    text-align: center;
}

html { font-size: 16px;}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b4b8c4;
}

footer {
    margin: 80px;
}

footer p a {
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    color: #0f0e75;
    text-transform: uppercase;
}

footer p a:hover, footer p a:focus {
    color: #fff;
    background-color: #211fb3;
    transition: font-size 0.2s ease;
    font-size: 1.8rem;
    border-radius: 4px;
} 


/* Página Index */
.containerIndex {
    padding: 20px;
    margin: 120px auto;
    max-width: 1200px;
    width: 75%;
    height: 55vh;
    border-radius: 12px;
    background-color:#0a3599;
    box-shadow: #000 1px 1px 10px;
}

.containerIndex h1{ 
    color: #fff;
    font-size: 2.3rem;
    margin-top: 30px;
}

.containerIndex h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    color:#fffb00;
}

ul {
    list-style: none;
    padding: 20px;
    
}

ul li {
    padding: 30px;
    font-size: 2rem;
}

.button-visualizar {
    margin: 30px;
}

.button-visualizar a{
    color: #ffffff;
    font-size: 1.9rem;
}

.button-visualizar a:hover, .button-visualizar a:focus{
    background-color: #ccdf26; 
    color: #000000;
    border-radius: 8px;
    font-size: 2.1rem;
    text-transform: uppercase;
}

.containerIndex ul li a{
    text-decoration: none;
    transition: font-size 0.3s ease;
    font-weight: 700;
}

/* Página Visualizar */

.containerVisualizar h1 {
    font-size: 2rem;
    /* margin: 30px; */
    color: var(--color-h1-cadastro);
    padding: 30px;
}

.containerVisualizar p a{
    text-decoration: none;
    /* padding: 10px; */
    font-size: 1.8rem;
}

.alunos {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 16px;
    width: 65%;
    margin: auto;
}

.aluno {
    background-color: #0a3599;
    padding: 1.2rem;
    width: 450px;
    box-shadow: #000 1px 1px 2px;
    border-radius: 8px;
}

.aluno b{
    color: #ffff00;
}

.aluno p {
    text-transform: capitalize;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}

.aluno p:hover {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.edicaoAluno a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
    transition: font-size 0.3s ease;
}

.edicaoAluno a:hover {
    font-size: 2.2rem;
    cursor: pointer;
}

.aluno p b:hover {
    color: yellow;
}

.editarAluno:hover {
    color: #1a98ff;
    font-size: 2.3rem;
}

.excluirAluno:hover {
    color: #b92a2a;
    font-size: 2.3rem;
}

.button-inserir-aluno{
    margin: 30px;
    font-weight: bold;
    font-size: 2rem;
}

.button-inserir-aluno p a{
    color: #164dcc;
    transition: font-size 0.3s ease;
}

.button-inserir-aluno p a:hover{
    background-color: #0089fa;
    border-radius: 12px;
    color: white;
    font-size: 2.2rem;
}

/* Página Inserir */
form {
    padding: 0;
    margin: 0;
    box-shadow: #000 1px 2px 4px;
    background-color: var(--color-container-cadastro);
    /* width: 70%; */
}

form, input:not([type="text"]), input[type="text"] {
    padding: 1.10rem;
    width: 90%;
    margin: 5px auto;
    padding-left: 5%;
    border-radius: 12px;
    text-transform: capitalize;
}


input:not([type="text"]),input[type="text"]{
    background-color: var(--color-background-cadastro);
    color: #000000;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 400;
}

input:not([type="text"]):hover,
input[type="text"]:hover,
input:not([type="text"]):focus,
input[type="text"]:focus {

    font-size: 1.5rem;
    text-transform: uppercase;
    transition: font-size 0.3s ease;
    font-weight: 600;

}

label {
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: capitalize;
    text-shadow: #000 1px 1px 3px;
    text-align: left;
}


.botaoInserir {
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #2d8522;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    height: 50px;

}

button {
    margin: 20px auto;
    width: 80%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;

    background-color: #0a3599;
}

button:hover, button:focus {
    cursor: pointer;
    background-color:#164dcc;
    color: white;
    transition: font-size 0.2s ease;
    font-size: 1.3rem;
    font-weight: 800
}

.containerCadastro {
    width: 82%;
    margin: 30px auto;
    height: 100%;
}

.containerCadastro h1 {
    font-size: 2.2rem;
    margin: 20px;
    text-shadow: #8981b9 2px 3px 1px;
    color: var(--color-h1-cadastro);
    font-weight: bold;
}

.containerCadastro p {
    color: var(--color-p-cadastro);
    font-size: 1.6rem;
    text-shadow: #000000 1px 1px 2px;
    font-weight: bold;
}

/* Página de Atualização */
.containerAtualizar {
    margin: 30px;
}

.containerAtualizar h1 {
    font-size: 2.2rem;
    padding: 20px;
    margin: 20px;
    text-shadow: #8981b9 2px 3px 1px;
    color: var(--color-h1-cadastro);
}

.containerAtualizar h2 {
    color: var(--color-p-cadastro);
    font-size: 1.6rem;
    text-shadow: #000000 1px 1px 2px;
    font-weight: bold;
}

/* Página de exclusão */
.botaoDeletar:hover {
    background-color: red;
}

.containerDeletar h1{
    font-size: 2.2rem;
    padding: 20px;
    margin: 20px;
    text-shadow: #8981b9 2px 3px 1px;
    color: var(--color-h1-cadastro);
}

.containerDeletar p {
    font-size: 1.6rem;
    text-shadow: #000000 1px 1px 2px;
    font-weight: bold;
    color: var(--color-p-cadastro);
}

.containerDeletar {
    margin: 30px;
    width: 90%;
}

/* Página de Busca */
.headerBusca {
    margin: 20px;
}

.headerBusca p {
    color: var(--color-p-cadastro);
    font-size: 1.6rem;
    text-shadow: #000000 1px 1px 2px;
    font-weight: bold;
}

.containerBuscar h1 {
    margin: 30px;
    text-shadow: #8981b9 2px 3px 1px;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--color-h1-cadastro);
}

.resultadoBusca {
   background-color: var(--color-container-cadastro);
   border-radius: 8px;
   width: 60%;
   padding: 10px;
   margin: 20px auto;
   transition: ease 0.3s font-size;
}

.resultadoBusca h2 {
    margin: 5px;
    color: #fff;
    text-shadow: #000 1px 2px 1px;
}

.resultadoBusca p b {
    font-weight: bold;
    text-transform: uppercase;
    color: #5c8eeb;
    /* text-shadow: #fff 1px 1px 1px; */
}

.resultadoBusca p {
    color: #fff;
    padding: 5px;
    font-size: 1.2rem;
    margin: 5px;
    text-shadow: #000 1px 1px 2px;
}

.resultadoBusca p:hover {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #f1f5ff;
    font-weight: bold;
    text-shadow: #000 2px 2px 2px;
}