/* Regras Gerais */
*{
    margin: 0;
    padding: 0;
}

:root {
    --color-h1-cadastro: #09136e;
    --color-container-cadastro: #626e8b ;
    --color-p-cadastro: #6845e7;;
    --color-background-cadastro: #c5c9d4;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.text-center {
    text-align: center;
}

html { font-size: 16px;}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #cfd1d8;
}

footer {
    margin: 80px;
}

footer p a {
    text-decoration: none;
    color: #0f0e75;
    text-transform: uppercase;
}

footer p a:hover {
    color: #fff;
    background-color: #211fb3;
    transition: font-size 0.2s ease;
    font-size: 1.6rem;
    border-radius: 4px;
} 


/* Página Index */
.containerIndex {
    padding: 20px;
    margin: 120px auto;
    max-width: 1200px;
    width: 80%;
    border-radius: 12px;
    background-color: #0f0e75;
    box-shadow: #000 1px 1px 10px;
}

.containerIndex h1{ 
    color: #fff;
    font-size: 2.3rem;
}

.containerIndex h2 {
    font-size: 1.8rem;
    margin: 15px 0px;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    padding: 20px;
    font-size: 2rem;
    color: var(--color-secondary);
}

.containerIndex ul li a{
    text-decoration: none;
    transition: font-size 0.3s ease;

}

.containerIndex ul li a:hover {
    background-color: var(--color-primary);
    border-radius: 8px;
    font-size: 2.2rem;
    color: #ffffff;
}

/* Página Visualizar */
.containerVisualizar h1 {
    font-size: 2rem;
}

.containerVisualizar p a{
    text-decoration: none;
    /* padding: 10px; */
    font-size: 1.8rem;
}

.alunos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
    width: 80%;
    margin: auto;
}

.aluno {
    background-color: var(--color-secondary);
    padding: 1.2rem;
    width: 600px;
    box-shadow: #000 1px 1px 4px;
    border-radius: 8px;
}



/* Página Inserir */
form {
    padding: 0;
    margin: 0;
    box-shadow: #000 1px 2px 4px;
    background-color: var(--color-container-cadastro);
    max-width: 960px;
}

form, input:not([type="text"]), input[type="text"] {
    padding: 1.10rem;
    width: 90%;
    margin: 5px auto;
    padding-left: 5%;
    border-radius: 12px;
    text-transform: capitalize;
}


input:not([type="text"]),input[type="text"]{
    background-color: var(--color-background-cadastro);
    color: #000000;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 400;
}

input:not([type="text"]):hover,
input[type="text"]:hover,
input:not([type="text"]):focus,
input[type="text"]:focus {

    font-size: 1.5rem;
    text-transform: uppercase;
    transition: font-size 0.3s ease;
    font-weight: 600;

}

label {
    font-size: 1.6rem;
    color: #ffffff;
    text-transform: capitalize;
    text-shadow: #000 1px 1px 3px;
    text-align: left;
}


.botaoInserir {
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #2b961d;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    height: 50px;

}

button {
    margin: 20px auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover, button:focus {
    cursor: pointer;
    background-color:#255fe6;
    color: white;
}

.containerCadastro {
    background-color: var(--color-background-cadastro);
    width: 82%;
    margin: auto;
    height: 100%;
    background-color: #cfd1d8;
}

.containerCadastro h1 {
    font-size: 2.2rem;
    margin: 20px;
    color: var(--color-h1-cadastro);
    font-weight: 900;
}

.containerCadastro p {
    font-size: 1.4rem;
    color: var(--color-p-cadastro);
    font-weight: 800;
    margin: 5px;
}